# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/
*.env

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Pip
pip-wheel-metadata/

# Environment files (secrets)
.env
.env.*